# Orquestación de Docker Compose
COMPOSE_PROJECT_NAME=saas_erp_stack

# Puertos Expuestos hacia la Máquina Host
API_PORT=8080
DB_PORT=3306

# Creación Inicial del Motor MySQL
MYSQL_ROOT_PASSWORD=your_root_password_here
DB_DATABASE=saas_erp_db
DB_USERNAME=saas_erp_user
DB_PASSWORD=your_database_password_here